<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find race_nav)/map/map.yaml" output="screen">
   <param name="frame_id" value="map" />
  </node>

  <include file="$(find race_nav)/config/amcl/amcl.launch" > </include>
 
  
  <param name="/use_sim_time" value="true"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param name="controller_frequency" value="50.0" />
    <param name="controller_patience" value="60.0" />
    <rosparam file="$(find race_nav)/config/move_base/teb_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="planner_frequency" value="0.2" />
    <param name="planner_patience" value="5.0" />

    <rosparam file="$(find race_nav)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find race_nav)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find race_nav)/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find race_nav)/config/move_base/global_costmap_params.yaml" command="load" />
   <!-- <rosparam file="$(find race_nav)/config/move_base/move_base_params.yaml" command="load" />-->
    <rosparam file="$(find race_nav)/config/move_base/global_planner_params.yaml" command="load" />


  </node>


<node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find race_nav)/rviz/racecar_rviz.rviz" />
</launch>
